<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<link rel="stylesheet" type="text/css" href="{{public_dir}}/css/login.css">
	<script src="{{public_dir}}/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript"></script>
</head>
<body>

<div class="row">
	<form method="post">
		<table>
			<tr>
				<th>用户名</th>
				<td>
					<input type="text" name="uname" >
				</td>
			</tr>
			<tr>
				<th>密码</th>
				<td>
					<input type="password" name="passwd">
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="submit" name="do_login" value="登录">
				</td>
			</tr>
		</table>
	</form>
</div>

</body>
</html>